@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-default {
    background-color: theme(colors.white);
  }
  .dark .bg-default {
    background-color: theme(colors.neutral.900);
  }

  .text-default {
    color: theme(colors.black);
  }
  .dark .text-default {
    color: theme(colors.white);
  }

  .stroke-default {
    stroke: theme(colors.neutral.900);
  }
  .dark .stroke-default {
    stroke: theme(colors.white);
  }

  .bg-brand {
    background-color: theme(colors.primary.800);
  }
  .dark .bg-brand {
    background-color: theme(colors.primary.600);
  }

  .bg-brand-hover {
    background-color: theme(colors.primary.700);
  }

  .text-onbrand {
    color: theme(colors.white);
  }

  .ring-brand {
    --tw-ring-color: theme(colors.primary.500);
  }

  .bg-brand-secondary {
    background-color: theme(colors.primary.100);
  }

  .bg-brand-secondary-hover {
    background-color: theme(colors.primary.200);
  }

  .text-onbrand-secondary {
    color: theme(colors.primary.700);
  }

  .ring-brand-secondary {
    --tw-ring-color: theme(colors.primary.500);
  }

  .bg-default-hover {
    background-color: theme(colors.neutral.900 / 5%);
  }
  .dark .bg-default-hover {
    background-color: theme(colors.white / 5%);
  }
}
